.more-programs {
	margin: 110px auto;
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.more-programs-left {
	flex-basis: 40%;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.more-programs-right {
	flex-basis: 55%;
	margin-top: 40px;
}

.exercise1 {
	width: 75%;
	border-radius: 0px 15px 0px 15px;
}

.more-programs h3 {
	color: #006174;
	font-size: 22px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.more-programs h2 {
	font-size: 28px;
	color: #00a1c1;
	margin-bottom: 20px;
}

.more-programs ul {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.more-programs ul li {
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}

.exercise-section {
	margin-top: 70px;
}
.exercise-section h1 {
	text-align: center;
	color: #00819a;
	font-size: 50px;
	margin-bottom: 100px;
}
