.more-programs {
	margin: 110px auto;
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.more-programs-left {
	flex-basis: 40%;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.more-programs-right {
	flex-basis: 55%;
}

.exercise1 {
	width: 70%;
	border-radius: 0px 15px 0px 15px;
}

.more-programs h1 {
	color: #ffcc80;
	font-size: 18px;
	margin-bottom: 20px;
}

.more-programs h2 {
	font-size: 28px;
	color: #ff9966;
	margin-bottom: 20px;
}

.more-programs ul {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.more-programs ul li {
	font-size: 16px;
	color: #333;
	margin-bottom: 10px;
}
