.programs {
	margin: 80px auto;
	width: 90%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.programs-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: stretch;
	gap: 10px;
}
.program img {
	aspect-ratio: 1/1;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

.program {
	flex-basis: 31%;
	position: relative;
	overflow: hidden;
    display: flex;
    flex-direction: column;
}

.caption {
	border-radius: 15px;
	position: absolute;
	background: rgba(11, 17, 70, 0.8);
	padding: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	padding-bottom: 75%;
	cursor: pointer;
	transition: 0.4s;
}

.program:hover .caption {
	box-shadow: 0 0 20px #012840;
	opacity: 1;
	padding-bottom: 0;
}

.caption img {
	width: 65px;
	margin: 15px 30px 15px;
}

.text-p {
	color: rgb(249, 242, 242);
	text-align: center;
	font-size: 15px;
}

.programs button {
	margin-top: 50px;
}

/* Media Query */
@media (max-width: 1024px) {
    .caption {
        padding: 10px;
    }

    .caption img {
        width: 50px;
        margin: 10px 0;
    }

    .text-p {
        font-size: 12px;
        line-height: 1.1;
        padding: 0px;
    }
}
@media (max-width: 650px) {
	.programs-wrapper {
		flex-direction: column;
		align-items: stretch;
	}
	.program {
		flex-basis: 100%;
		margin: 20px;
	}
}
